*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
  color: #fff;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #25252b ;
}

.container{
  position: relative;
  width: 750px;
  height: 450px;
  border: 2px solid #ff2770;
  box-shadow: 0 0 25px #ff2770;
}

.container .form-box{
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.form-box h2{
  font-size: 32px;
}